/*NAVEGADOR*/


.img-center{    
    margin: auto;
    float: left;
}

.justify-content-center{
    border-top: 1px solid #eaeaea;
    display: block;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.justify-content-center li{
    float: left;
}


.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
    color: #f9f9f9;
}


.nav-item {
    margin: 0 4px;
}

.nav-item .nav-link {
    padding: 20px !important;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #000000 !important;
} 




/*CONTACTO*/



.btn-primary{
    background-color: #eee23b;
    border: 1px solid #eee23b;
} 

.btn-primary:hover{
    background: #39393a;
    border: 1px solid #39393a;
    color: white;
} 


/*CATALOGO*/

.row{
    margin-top: 20px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    margin-bottom: 15px;
}



.titulo-list{
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #eaeaea;
    color: #000000;
    padding: 2%;
    width: auto;
    margin-top: 10px;
    text-align: center;
}


.container{
    width: 500px;
    padding: 2%;
    width: auto;
    margin-top: 10px;
}

.btn-outline-primary{
    color: #39393a;
    background: #eee23b;
    border: 0px;
    font-family: 'Raleway', sans-serif;
}

.btn-outline-primary:hover{
    color: white;
    background: #39393a;
    border: 0px;
     font-family: 'Raleway', sans-serif;
}


.card-text b{
    color:  #eee23b;
}



/*FOOTER*/

footer{
    width: 100%;
    margin-top: 30px;
    background: #eee;
    color: #848484;
    bottom: 0px;
    border-top: solid 1px #d8d3d3;
    padding: 40px 0 40px 0;
}

.datos{
    text-align: center;
    height: 80%;
}





/*SOBRE MI*/
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 500;
    text-transform: uppercase;
    color: #343a40;
  }
  
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  
  h2 {
    font-size: 3.5rem;
    color: #eee23b;
  }
  
  h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p.lead {
    font-size: 1.15rem;
    font-weight: 400;
  }
  
  .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
    color: #eee23b;
  }
  
  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: #eee23b;
  }
  
  .dev-icons {
    font-size: 3rem;
  }
  
  
  
  
  
  section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
  }
  
  section.resume-section .resume-item .resume-date {
    min-width: none;
  }
  
  @media (min-width: 768px) {
    section.resume-section {
      
    }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem;
    }
  }
  
  @media (min-width: 992px) {
    section.resume-section {
      
      margin-left: 175px;
    }
  }
  
  
  
  .text-primary {
    color: #eee23b !important;
  }
  
  a {
    color: #eee23b;
  }
  
  a:hover, a:focus, a:active {
    color: #eee23b;
  }
  